<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

</head>

<body>


    <div class="container">
      <h1 id="title">HILO BANK</h1>
        <h2>Enter 4-Digit Pin</h2>
        <input type="text" id="passcode" maxlength="4" placeholder="Enter Pin" onkeydown="if(event.keyCode==13) checkPasscode()">
        <br>
        <button class="passcode" onclick="checkPin()">Submit</button>
    </div>


</body>
</html>
