<div class="mainContainer">
  <mat-card class="custom-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <div class="md-button">
        <button mat-raised-button class="transactionBtn" (click)="navigateToDeposit()">DEPOSIT</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToWithdraws()">WITHDRAW</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToBalance()">CHECK BALANCE</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToSpendings()">SPENDING</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DFDFDF</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
