<div class="mainContainer">
  <mat-card class="custom-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>HILO-ATM</mat-card-title>
      <mat-card-subtitle>Hilo Bank</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="md-button">
        <button mat-raised-button class="transactionBtn" (click)="navigateToDeposit()">DEPOSIT</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToWithdraws()">WITHDRAW</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToBalance()">CHECK BALANCE</button>
        <button mat-raised-button class="transactionBtn" (click)="navigateToSpendings()">SPENDING</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
