<div class="container">
  <button mat-raised-button color="primary" (click)="navigateToMainPage()" class="closeBtn">BACK</button>
  <mat-card class="custom-card">

    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">HILO-ATM</mat-card-title>
      <mat-card-subtitle class="subtitle">DEPOSIT</mat-card-subtitle>
    </mat-card-header>
    <p class="confirmation">${{ 210000 + " Deposited!" }}</p>
    <mat-card-content style = "" class="content">
      <span matPrefix style="font-size: 170px">$ </span>
      <mat-form-field class="form-field">
        <input
          matInput
          type="number"

          style="
            text-align: center;
            font-size: 24px;
            width: 100%;
            display: block;
            margin: 0 auto;
            color: green;
          "
        />
        <mat-hint>e.g: $5000</mat-hint>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" class="custom-button">
        Deposit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
