.custom-card {
  width: 2000px;
  max-width: 95%;
  box-sizing: border-box;
  overflow: hidden;
  margin: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: rgb(10, 66, 234);
  text-align: center;
  color: rgb(241, 243, 252);
}
.container{
  background-color: rgb(15, 159, 237);
  text-align: center;
  display: flex;
  align-items: center;
  padding: 55px;
  height: fit-content; /* Set the height to 100% of the viewport height */
  box-shadow: 4px 2px 5px rgba(106, 147, 139, 0.99); /* Add a slight white shadow */
  height: fit-content;
}

.content{
  height: 500px;

  display: flex;
  align-items: center;
  overflow: scroll;
}

.custom-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.custom-button:hover {
  background-color: #59d05f; /* Darker green on hover */
}

.title, subtitle {

}
.closeBtn{

  padding: 4%;
  background-color: green;
  float: left;
  }
